<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pahwa.rideaway">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"></supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rideawayiconround"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/rideawayiconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReportUser"
            android:theme="@style/NoBarAppTheme"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/NoBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CancelBooking"
            android:theme="@style/NoBarAppTheme"></activity>
        <activity
            android:name=".RideDetailss"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name=".SearchResultDetails"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name=".YourRideIsLive"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name=".SearchResults"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name=".OfferRideDetails"
            android:theme="@style/NoBarAppTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".OfferARide"
            android:theme="@style/NoBarAppTheme" />
        <activity
            android:name=".FindARide"
            android:theme="@style/NoBarAppTheme" >
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/NoBarAppTheme" >

        </activity>
        <activity
            android:name=".SetupProfile"
            android:theme="@style/NoBarAppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" >



        </activity>
        <activity
            android:name=".PhoneVerification"
            android:theme="@style/NoBarAppTheme2" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoBarAppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"></activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".RideServiceBroadcast"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NotificationReciever"
            android:enabled="true" />

    </application>

</manifest>